<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>
<body id="page-top">

     <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <app-menu></app-menu>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
      <app-header></app-header>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <div class="col" class="d-flex justify-content-center">
            <div class="card shadow mb-4" class="col-lg-5">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    Ajouter les détails de Commande</h6>
              </div>

          <div class="card-body">
        <form [formGroup]="addCommandeForm" (ngSubmit)="addCommande()">
            <div class="form-group">

            <input type="text" placeholder="Libelle" class="form-control" formControlName="libelle" name="libelle">
            <div *ngIf="this.libelle?.touched && this.libelle?.invalid">
              <small class="text-danger" *ngIf="this.libelle?.errors?.['required']">Votre libelle
                  est obligatoire</small>
            </div>
        </div>

          <div class="form-group">

              <input type="number" placeholder="Quantité" class="form-control" formControlName="qte" name="qte">
              <div *ngIf="this.qte?.touched && this.qte?.invalid">
                <small class="text-danger" *ngIf="this.qte?.errors?.['required']">Votre qte
                    est obligatoire</small>
              </div>
      </div>
      <div class="form-group">

        <input type="number" placeholder="prix" class="form-control" formControlName="prix" name="prix">
        <div *ngIf="this.prix?.touched && this.prix?.invalid">
          <small class="text-danger" *ngIf="this.prix?.errors?.['required']">Votre prix
              est obligatoire</small>
        </div>
      </div>
      <div class="form-group">

        <input type="date" class="form-control" placeholder="Date" formControlName="date" name="date" >
        <div *ngIf="this.date?.touched && this.date?.invalid">
          <small class="text-danger" *ngIf="this.date?.errors?.['required']">Votre date
              est obligatoire</small>
        </div>
      </div>
      <div class="form-group">

        <input type="text" placeholder="gouvernorat" class="form-control" formControlName="gouvernorat" name="gouvernorat">
        <div *ngIf="this.gouvernorat?.touched && this.gouvernorat?.invalid">
          <small class="text-danger" *ngIf="this.gouvernorat?.errors?.['required']">Votre gouvernorat
              est obligatoire</small>
        </div>
      </div>
      <div class="form-group">

        <input type="text" placeholder="Téléphone client" class="form-control" formControlName="teleclient" name="teleclient">
        <div *ngIf="this.teleclient?.touched && this.teleclient?.invalid">
          <small class="text-danger" *ngIf="this.teleclient?.errors?.['required']">Votre tele client
              est obligatoire</small>
        </div>
      </div>
      <div class="form-group">
        <input placeholder="addrese client" type="text" class="form-control" formControlName="adresseclient" name="adresseclient">
        <div *ngIf="this.adresseclient?.touched && this.adresseclient?.invalid">
          <small class="text-danger" *ngIf="this.adresseclient.errors?.['required']">Votre adreese client
              est obligatoire</small>
        </div>
      </div>
        <div class="form-group">

          <input type="file" class="form-control" placeholder="Photo" formControlName="photo" name="photo" accept="image/*" (change)="onSelectFile($event)">
          <img [src]="imgURL" height="100" *ngIf="imgURL">

      </div>

    <button class="btn btn-sm btn-primary mt-3">Ajouter</button>
        </form>
    </div>
    </div>
    </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>




</body>
</html>
